Paper{
    background-color: transparent;
}
.dash{
    text-align: left;
    color:#03256c;
    text-transform: capitalize;
    font-size: 2rem;
    margin-top: 5px;
}
.text{
    align-items: flex-end;
 margin-right: 2rem;
 color: plum;
}
.h2{
    text-align: right; 
}
.container{
    align-items: flex-end;
    justify-content: right;
    text-align: right;
}
.textField{
   width: 140px;
   cursor: pointer;
}